.d-ib {
    display: inline-block;
}

html, body {
    min-height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* had to take the margin off the p as in some browsers this can add extra margin to #content div*/
p {
    margin:0;
    padding:0 0 1em 0;
}

#wrapper {
    padding: 64px 0 218px 0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
#container {
    min-height: 100%;
}

.header-top {
    margin-top: -64px;
    height: 72px;
}

.header-top {
    position: relative;
    width: 100%;
    top: 0;
    z-index: 100;
    box-shadow: 0px -2px 7px 1px #283841;
}

.header-top .supertop {
    background: #354852;
    height: 24px;
}

.header-top .navbar {
    background: #4d6a79;
    height: 48px;
    line-height: 48px;
    color: white;
    padding-left: 1.2em;
    position: relative;
}
.header-top .navbar .nav-title {
    padding-left: 1em;
}
.header-top .navbar .search-wrap {
    position: absolute;
    right: 1em;
    top: 0.5em;
    height: 32px;
}

.header-top .navbar .search-wrap .search-btn {
    padding: 0.5em;
    cursor: pointer;
    float: right;
}

.header-top .navbar .search-wrap .search-form {
    padding: 0.5em;
    cursor: pointer;
    float: right;
}

footer {
    margin-bottom: -218px;
    height: 218px;
    position: relative;
}

/* Timeline */
#timeline-div {
    position:relative;
    bottom:0;
    width:100%;
}
#event-line {

}


.page_title {
    display: inline-block;
    margin: 0 15px 0 15px;
    font-size: 1.5em;
    color: white;
    font-family: ProximaNova-Light, nova, arial, sans-serif
}

#search-form {
    display: inline-block; 
    height: 40px; 
    width: 60%; 
    margin: 0 auto;
}

.query_input {
    width: 70%;
    position: relative;
    height: 30px;
    margin: 5px 5px 0 5px;
    font-size: 1.2em;
    font-family: ProximaNova-Light, nova, arial, sans-serif;
}

.query_button {
    width: 20%;
    height: 30px;
    border-radius: 3px;
    background-color: white;
    border: solid 1px #009E9E;
    color: #006EA7;
    font-size: 1.2em;
}

.query_button:hover, .query_button:focus {
    background-color: #005EA7;
    color: white;
}

.slider_shade_gradient {
    background: -webkit-linear-gradient(to right, rgba(211,224,255,0.7), rgba(211,224,255,0));
    background: -o-linear-gradient(to right, rgba(211,224,255,0.7), rgba(211,224,255,0));
    background: -moz-linear-gradient(to right, rgba(211,224,255,0.7), rgba(211,224,255,0));
    background: linear-gradient(to right, rgba(211,224,255,0.7), rgba(211,224,255,0));
}

.lineClamp3 {
    -webkit-line-clamp: 3
}
